h1{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size:32px;
font-weight: bold;
 
  
}

.navbar {

    background-color: rgba(68, 46, 57,.5);
    overflow: hidden;
    background-color: rgba(244, 164, 66,.9);
}

p{

    padding-left: 20px;
    font-size: medium;
    letter-spacing: 1px;
    font: Arial, sans-serif;
}

.navbar a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
   text-decoration: none;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;



}

form{

border: 2px solid;
border-color: grey;
border-radius: 25px;
width: 400px;
padding: 10px;
font-size: medium;
font: Arial, sans-serif;


}

.submit{
    text-align: right;
    font-size: medium;
    font: Arial, sans-serif;
    font-weight: bold;

}

input{

font-size: 100%;
background-color:rgba(68, 46, 57,.5);
border: 1px solid black;
margin: 5px 5px 5px 10px;

}
.title{
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
