h1{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size:32px;
 

  
}

p{

    padding-left: 20px;
    font-size: medium;
    font: Arial, sans-serif;
}
.navbar {

    overflow: hidden;
    background-color: rgba(244, 164, 66,.9);
}

.navbar a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;


}
img{
width: 200px;
height: 200px;
float: left;
pad: 70px;

}

.blurb_box> {
height:80%;
width:50px;
padding: 20px;

}

